In [11]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [13]:
brics.insert(1, 'Divide', brics.apply(lambda div:(div.population / div.area), axis=1))

In [14]:
brics

        country      Divide    capital    area  population
0        Brazil   23.532175   Brasilia   8.516      200.40
1        Russia    8.391813     Moscow  17.100      143.50
2         India  381.010347  New Dehli   3.286     1252.00
3         China  141.398354    Beijing   9.597     1357.00
4  South Africa   43.390663   Pretoria   1.221       52.98